{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@svgr/babel-plugin-remove-jsx-attribute",
      {
        "elements": [
          "svg",
          "path",
          "g"
        ],
        "attributes": [
          "fill",
          "id",
          "className",
          "data-name",
          "color"
        ]
      }
    ],
    [
      "remove-react-element",
      {
        "elementNames": [
          "style"
        ]
      }
    ],
    [
      "@svgr/babel-plugin-add-jsx-attribute",
      {
        "elements": [
          "svg"
        ],
        "attributes": [
          {
            "name": "fill",
            "value": "currentColor"
          },
          {
            "name": "style",
            "value": "display: inline-block;vertical-align: middle;"
          }
        ]
      }
    ]
  ]
}
